@using Microsoft.AspNetCore.Identity
@using ElibForumMVC.Data.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Е-Книготека</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/profle.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-auto fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E-Книготека</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto float-right">
                        <li><a class="nav-item active nav-link" asp-area="" asp-controller="Forum" asp-action="Index">Форум</a></li>
                                      
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown">
                                <a href="#"
                                   class="dropdown-toggle nav-link text-dark"
                                   data-toggle="dropdown"
                                   role="button"
                                   area-haspopup="true"
                                   area-expanded="false">
                                    Опции<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header text-dark">Кориснички Панел</li>
                                    <li role="separator" class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">Moj Профил</a></li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                    <li role="separator" class="dropdown-divider"></li>
                                    <li class="dropdown-header text-dark">Админ Панел</li>
                                    <li role="separator" class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="Forum" asp-action="Create">Направи Форум</a></li>
                                    <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">Види Корисници</a></li>
                                    }

                                </ul>
                            </li>
                        }
                    </ul>
                    
                    @if (!SignInManager.IsSignedIn(User))
                    {
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Најава</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрација</a>
                    </li>
                </ul>
                    }
                    

                    @if (SignInManager.IsSignedIn(User))
                    {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutFOrm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-link text-dark">Здраво @UserManager.GetUserName(User)</li>
                        <button type="submit" class="btn btn-link text-dark font-weight-bold">Одјава</button>
                    </ul>
                   
                </form>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
